In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")

# Load cleaned dataset
df = pd.read_csv("../data/all_f1_data.csv")
df.head()

  GRAND PRIX    DATE          WINNER      TEAM  LAPS     TIME  YEAR
0  Australia  16-Mar    Nico Rosberg  Mercedes  57.0  32:58.7  2014
1   Malaysia  30-Mar  Lewis Hamilton  Mercedes  56.0  40:26.0  2014
2    Bahrain   6-Apr  Lewis Hamilton  Mercedes  57.0  39:42.7  2014
3      China  20-Apr  Lewis Hamilton  Mercedes  54.0  33:28.3  2014
4      Spain  11-May  Lewis Hamilton  Mercedes  66.0  41:05.2  2014

In [2]:
#loading in more information for predictive analysis 
df_races   = pd.read_csv("../data/races.csv")
df_qual    = pd.read_csv("../data/qualifying.csv")
df_results = pd.read_csv("../data/results.csv")
df_drivers = pd.read_csv("../data/drivers.csv")
df_base    = pd.read_csv("../data/all_f1_data.csv")

In [3]:
# Filter races 2014-2024
df_races = df_races[df_races['year'].between(2014, 2024)]
race_ids = df_races['raceId'].unique()
df_qual = df_qual[df_qual['raceId'].isin(race_ids)]
df_results = df_results[df_results['raceId'].isin(race_ids)]

In [4]:
# Merge driver names
df_qual = df_qual.merge(df_drivers[['driverId','forename','surname']], on='driverId', how='left')
df_qual['driverName'] = df_qual['forename'] + " " + df_qual['surname']
df_results = df_results.merge(df_drivers[['driverId','forename','surname']], on='driverId', how='left')
df_results['driverName'] = df_results['forename'] + " " + df_results['surname']

In [5]:
# Merge qualifying and results for each driver/race
df_merge = df_results.merge(
    df_qual[['raceId','driverId','position']], 
    on=['raceId','driverId'], 
    how='left',
    suffixes=('_finish','_qualify')
)

In [6]:
# Rename columns for clarity
df_merge.rename(columns={'position_qualify':'gridPosition','position_finish':'finishPosition'}, inplace=True)

In [7]:
# Add year and Grand Prix name
df_merge = df_merge.merge(df_races[['raceId','year','name']], on='raceId', how='left')
df_merge.rename(columns={'name':'Grand Prix'}, inplace=True)
df_merge.to_csv("../data/merged_f1_data.csv", index=False)
df_merge.head()

,resultId,raceId,driverId,constructorId,number,grid,finishPosition,positionText,positionOrder,points,...,rank,fastestLapTime,fastestLapSpeed,statusId,forename,surname,driverName,gridPosition,year,Grand Prix
0,22130,900,3,131,6,3,1,1,1,25.0,...,1,92.478,206.436,1,Nico,Rosberg,Nico Rosberg,3.0,2014,Australian Grand Prix
1,22131,900,825,1,20,4,2,2,2,18.0,...,6,93.066,205.131,1,Kevin,Magnussen,Kevin Magnussen,4.0,2014,Australian Grand Prix
2,22132,900,18,1,22,10,3,3,3,15.0,...,5,92.917,205.46,1,Jenson,Button,Jenson Button,11.0,2014,Australian Grand Prix
3,22133,900,4,6,14,5,4,4,4,12.0,...,7,93.186,204.867,1,Fernando,Alonso,Fernando Alonso,5.0,2014,Australian Grand Prix
4,22134,900,822,3,77,15,5,5,5,10.0,...,3,92.616,206.128,1,Valtteri,Bottas,Valtteri Bottas,10.0,2014,Australian Grand Prix